.property_img-container {
  height: 239px !important;
}
.property-location {
  height: 45px;
}

.site-pagination li {
  display: inline-block;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  color: #333333;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.site-pagination li.active {
  border: 1px solid transparent;
  background: #7cbd1e;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

li.view-list {
  display: inline;
  cursor: pointer;
}

.offer_type_bdge {
  padding: 0px 14px;
  border-radius: 51px;
  color: #fff;
}
